/*-----------------------------------*\
  #MAIN CONTENT & PAGES
\*-----------------------------------*/

.about {

}

.resume {

}

.portfolio {

}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.main-content {

}

.article-active {
    display: block;
    animation: fade 0.5s ease backwards;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

@media (min-width: 580px) {
    .main-content {

    }
}