/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/

.resume {

}

.resume .article-title {
    margin-bottom: 15px;
}

.articleTitle {
    position: relative;
    padding-bottom: 7px;
    color: var(--white-1);
    font-size: var(--fs-2);
}

.articleTitle::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-yellow);
    border-radius: 3px;
}

.resumeActions {
    text-align: center;
    margin-bottom: 30px;
}

.viewResumeBtn, .downloadResumeBtn {
    position: relative;
    border-radius: 10px;
    font-size: var(--fs-7);
    color: var(--white-1);
    background: var(--border-gradient-onyx);
    padding: 10px 15px;
    box-shadow: var(--shadow-1);
    transition: var(--transition-1);
    z-index: 1;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.viewResumeBtn::before, .downloadResumeBtn::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    color: var(--orange-yellow-crayola);
    border-radius: inherit;
    z-index: -1;
}

.viewResumeBtn:hover, .downloadResumeBtn:hover {
    background: var(--bg-gradient-jet);
    color: var(--orange-yellow-crayola);
}



/* 展開圖片容器 */
.paperResumeContainer {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

/* 履歷圖片樣式 */
.paperResumeImage {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    margin-inline: auto;
    box-shadow: var(--shadow-2);
}

.titleWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.titleWord {
    color: var(--white-1);
    font-size: var(--fs-3);
}

.timeline {
    padding-bottom: 50px;
}
/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

@media (min-width: 580px) {

    .resume {
        padding: 30px;
    }

    .articleTitle {
        font-size: var(--fs-1);
        font-weight: var(--fw-600);
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .articleTitle::after {
        width: 40px;
        height: 5px;
    }

    .resume .article-title {
        margin-bottom: 20px;
    }
}